.boutton{
    background-color: rgba(8, 19, 112, 0.918)!important;
   
}

.barreRecherche {
    width: 28em;
}

.test {
    font-size: 30px!important;
    
}

header {
    background-color: rgba(240, 142, 61, 0.918);
}
